<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link href="/static/css/common.css" rel="stylesheet" type="text/css">
    <script src="/static/js/delete_button.js" defer></script>
    <title>Page 2 电类工程导论B网站开发作业</title>
  </head>

  <body>
    <header>
      <h1>Page 2</h1>
      <p>Display and delete</p>
      <nav>
        <ul>
          <li><a href="/pages/page1">Page 1</a></li>
          <li><a href="/pages/page2">Page 2</a></li>
          <li><a href="/pages/page3">Page 3</a></li>
        </ul>
      </nav>
    </header>
    <main>
      <table>
        <tr>
          {% for i in labels %}
            <th>
              {{i}}
            </th>
          {% endfor %}
          <th>operation</th>
        </tr>
        {% for i in content %}
        <tr>
          {% for j in i %}
            <td> {{j}} </td>
          {% endfor %}
          <td class="operation"></td>
        </tr>
        {% endfor %}
      </table>
    </main>

  </body>

  <footer>
    <p>由黄浩栩开发完成<br>本网站是电类工程导论（B类）的网站开发作业，严禁抄袭！</p>
  </footer>
</html>